{% load i18n %}
<form role="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            {% trans field.label_tag %}
            {% if field.name == 'courses' %}
                <div class="courses-field">
                    {% for checkbox in field %}
                        <div class="form-check" style="display: inline-block; margin-right: 10px;">
                            {{ checkbox.tag }}
                            <label style="margin-right: 5px;">{{ checkbox.choice_label }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                {{ field }}
            {% endif %}

            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}

    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">
            {% if button_text %}
            {{ button_text }}
            {% else %}
            {% trans "Submit" %}
            {% endif %}
        </button>
    </div>
</form>
