{% load static %}
<link rel="stylesheet" href="{% static 'dist/css/customstyle.css' %}">
{% load i18n %}

<style>
    /* Custom scrollbar styling */
    .main-sidebar::-webkit-scrollbar {
        width: 8px;
    }

    .main-sidebar::-webkit-scrollbar-track {
        background: #2c2f33;
    }

    .main-sidebar::-webkit-scrollbar-thumb {
        background-color: #A3DA72;
        border-radius: 10px;
        border: 2px solid #2c2f33;
    }

    .main-sidebar::-webkit-scrollbar-thumb:hover {
        background-color: #6ECD42;
    }

    .main-sidebar {
        overflow-y: auto;
        overflow-x: hidden;
        height: max-content;
    }

    .profile-section {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #4b545c;
        font-size: 1.25rem;
        line-height: 1.5;
        padding: 0.5rem;
        white-space: nowrap;
        transition: border-color 0.3s ease;
    }

    .profile-section:hover {
        border-color: #74DA72;
    }

    .profile-section .brand-image:hover .bi-box-arrow-in-right {
        fill: #74BC6D;
    }

    .profile-section .bi-box-arrow-in-right {
        padding-left: 1rem;
        transition: fill 0.3s ease;
    }

    .profile-section .brand-image {
        color: #28a745;
        height: fit-content;
        padding: 1rem 1rem;
        margin-left: auto;  /* Pushes the logout icon to the far right */
        transition: color 0.3s ease;
    }

    /* Styles for notification icon and badge */
    #notification-icon {
        font-size: 1.5rem; /* Adjust size as needed */
    }

    #notification-count {
        font-size: 0.6rem; /* Adjust size as needed */
        width: 1.2em;
        height: 1.2em;
        line-height: 1.2em;
        padding: 0;
        border-radius: 50%;
        position: absolute;
        top: -0.1em;
        right: -0.1em;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(50%, -50%);
    }
</style>

#Admin Sidebar View
<aside class="main-sidebar sidebar-dark-info elevation-4" style="background-color: #1e2329;">
    {% if request.user.user_type == '1' %}
    <!-- Admin -->
    <!-- Brand Logo -->
    <a href="{% url 'admin_home' %}" class="brand-link">
        <img src="/media/logo.png" alt="Brand Logo" class="elevation-3" style="border-radius: 50%; width: 3rem; height: 3rem;">
        <span class="brand-text font-weight-dark" style="padding-left: 0.5rem;">中之有限公司</span>
    </a>
     <!-- User Name -->
    <div class="profile-section">
        <a href="{% url 'admin_view_profile' %}" style="color: lightgray; display: flex; align-items: center;">
            <img src="{{ user.profile_pic }}" alt="User Image" class="elevation-3" style="border-radius: 50%; width: 3rem; height: 3rem;">
            <span class="brand-text font-weight-dark" style="padding-left: 0.5rem;">
                {% if user.is_authenticated %}
                {{ user.full_name }}
                {% else %}
                Unknown
                {% endif %}
            </span>
        </a>
        <a href="{% url 'user_logout' %}" class="brand-image" onclick="return confirm('Your session will be terminated. Proceed?')">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
            </svg>
        </a>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    {% url 'admin_home' as admin_home %}
                    <a href="{{ admin_home }}" class="nav-link {% if admin_home == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>{% trans "Home" %}</p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'refund_records' as refund %}
                    <a href="{{ refund }}" class="nav-link {% if refund == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-undo-alt"></i>
                        <p>{% trans "Refund" %}</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    {% url 'add_teacher' as add_teacher %}
                    {% url 'manage_teacher' as manage_teacher %}
                    {% url 'edit_teacher' teacher_id as edit_teacher %}
                    <a href="#" class="nav-link {% if request.path == add_teacher or request.path == manage_teacher or request.path == edit_teacher %}active{% endif %}">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            {% trans "Teacher" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ add_teacher }}" class="nav-link {% if request.path == add_teacher %}active{% endif %}">
                                <i class="nav-icon fas fa-plus-circle"></i>
                                <p>{% trans "Add Teacher" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_teacher }}" class="nav-link {% if request.path == manage_teacher or request.path == edit_teacher %}active{% endif %}">
                                <i class="nav-icon fas fa-th"></i>
                                <p>{% trans "Manage Teacher" %}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    {% url 'add_student' as add_student %}
                    {% url 'manage_student' as manage_student %}
                    {% url 'edit_student' student_id as edit_student %}
                    <a href="#" class="nav-link {% if request.path == add_student or request.path == manage_student or request.path == edit_student %}active{% endif %}">
                        <i class="nav-icon fas fa-user-graduate"></i>
                        <p>
                            {% trans "Student" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ add_student }}" class="nav-link {% if request.path == add_student %}active{% endif %}">
                                <i class="nav-icon fas fa-plus-circle"></i>
                                <p>{% trans "Add Student" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_student }}" class="nav-link {% if request.path == manage_student or request.path == edit_student %}active{% endif %}">
                                <i class="nav-icon fas fa-th"></i>
                                <p>{% trans "Manage Student" %}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    {% url 'add_payment_record' as add_payment_record %}
                    {% url 'manage_payment_record' as manage_payment_record %}
                    <a href="#" class="nav-link {% if request.path == add_payment_record or request.path == manage_payment_record %}active{% endif %}">
                        <i class="nav-icon fas fa-yen-sign"></i>
                        <p>
                            {% trans "Payment Record" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ add_payment_record }}" class="nav-link {% if request.path == add_payment_record %}active{% endif %}">
                                <i class="nav-icon fas fa-plus-circle"></i>
                                <p>{% trans "Add Payment" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_payment_record }}" class="nav-link {% if request.path == manage_payment_record %}active{% endif %}">
                                <i class="nav-icon fas fa-receipt"></i>
                                <p>{% trans "Manage Payment" %}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    {% url 'add_learning_record' as add_learning_record %}
                    {% url 'manage_learning_record' as manage_learning_record %}
                    <a href="#" class="nav-link {% if request.path == add_learning_record or request.path == manage_learning_record %}active{% endif %}">
                        <i class="nav-icon fas fa-pencil-ruler"></i>
                        <p>
                            {% trans "Learning Record" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ add_learning_record }}" class="nav-link {% if request.path == add_learning_record %}active{% endif %}">
                                <i class="nav-icon fas fa-plus-circle"></i>
                                <p>{% trans "Add Learning Record" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_learning_record }}" class="nav-link {% if request.path == manage_learning_record %}active{% endif %}">
                                <i class="nav-icon fas fa-th"></i>
                                <p>{% trans "Manage Learning Record" %}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    {% url 'add_course' as add_course %}
                    {% url 'manage_course' as manage_course %}
                    {% url 'edit_course' course_id as edit_course %}
                    <a href="#" class="nav-link {% if request.path == add_course or request.path == manage_course or request.path == edit_course %}active{% endif %}">
                        <i class="nav-icon fas fa-bookmark"></i>
                        <p>
                            {% trans "Course" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ add_course }}" class="nav-link {% if request.path == add_course %}active{% endif %}">
                                <i class="nav-icon fas fa-plus-circle"></i>
                                <p>{% trans "Add Course" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_course }}" class="nav-link {% if request.path == manage_course or request.path == edit_course %}active{% endif %}">
                                <i class="nav-icon fas fa-th"></i>
                                <p>{% trans "Manage Course" %}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    {% url 'add_class_schedule' as add_class_schedule %}
                    {% url 'manage_class_schedule' as manage_class_schedule %}
                    {% url 'admin_view_attendance' as admin_view_attendance %}
                    <a href="#" class="nav-link {% if request.path == add_class_schedule or request.path == manage_class_schedule or request.path == admin_view_attendance %}active{% endif %}">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            {% trans "Schedule" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ add_class_schedule }}" class="nav-link {% if request.path == add_class_schedule %}active{% endif %}">
                                <i class="nav-icon fas fa-plus-circle"></i>
                                <p>{% trans "Add Schedule" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_class_schedule }}" class="nav-link {% if request.path == manage_class_schedule %}active{% endif %}">
                                <i class="nav-icon fas fa-th"></i>
                                <p>{% trans "Manage Schedule" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ admin_view_attendance }}" class="nav-link {% if request.path == admin_view_attendance %}active{% endif %}">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>{% trans "View Attendance" %}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    {% url 'manage_student_query' as manage_student_query %}
                    {% url 'manage_teacher_query' as manage_teacher_query %}
                    <a href="#" class="nav-link {% if request.path == manage_student_query or request.path == manage_teacher_query %}active{% endif %}">
                        <i class="nav-icon fas fa-question"></i>
                        <p>
                            {% trans "Queries" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ manage_student_query }}" class="nav-link {% if request.path == manage_student_query %}active{% endif %}">
                                <i class="nav-icon fas fa-address-card"></i>
                                <p>{% trans "Student Queries" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_teacher_query }}" class="nav-link {% if request.path == manage_teacher_query %}active{% endif %}">
                                <i class="nav-icon fas fa-address-card"></i>
                                <p>{% trans "Teacher Queries" %}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    {% url 'add_campus' as add_campus %}
                    {% url 'manage_campus' as manage_campus %}
                    {% url 'edit_campus' course_id as edit_campus %}
                    <a href="#" class="nav-link {% if request.path == add_campus or request.path == manage_campus or request.path == edit_campus %}active{% endif %}">
                        <i class="nav-icon fas fa-school"></i>
                        <p>
                            {% trans "Campus" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ add_campus }}" class="nav-link {% if request.path == add_campus %}active{% endif %}">
                                <i class="nav-icon fas fa-plus-circle"></i>
                                <p>{% trans "Add Campus" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_campus }}" class="nav-link {% if request.path == manage_campus or request.path == edit_campus %}active{% endif %}">
                                <i class="nav-icon fas fa-th"></i>
                                <p>{% trans "Manage Campus" %}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    {% url 'add_session' as add_session %}
                    {% url 'manage_session' as manage_session %}
                    {% url 'edit_session' session_id as edit_session %}
                    <a href="#" class="nav-link {% if request.path == add_session or request.path == manage_session or request.path == edit_session %}active{% endif %}">
                        <i class="nav-icon fas fa-clock"></i>
                        <p>
                            {% trans "Session" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ add_session }}" class="nav-link {% if request.path == add_session %}active{% endif %}">
                                <i class="nav-icon fas fa-plus-circle"></i>
                                <p>{% trans "Add Session" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_session }}" class="nav-link {% if request.path == manage_session or request.path == edit_session %}active{% endif %}">
                                <i class="nav-icon fas fa-th"></i>
                                <p>{% trans "Manage Session" %}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    {% url 'admin_notify_teacher' as admin_notify_teacher %}
                    {% url 'admin_notify_student' as admin_notify_student %}
                    <a href="#" class="nav-link {% if request.path == admin_notify_teacher or request.path == admin_notify_student %}active{% endif %}">
                        <i class="nav-icon fas fa-bullhorn"></i>
                        <p>
                            {% trans "Notify" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ admin_notify_teacher }}" class="nav-link {% if request.path == admin_notify_teacher %}active{% endif %}">
                                <i class="nav-icon fas fa-bullhorn"></i>
                                <p>{% trans "Notify Teacher" %}</p>
                            </a>
                        </li>
                        <!-- Uncomment if needed -->
                        {% comment %}
                        <li class="nav-item">
                            <a href="{{ admin_notify_student }}" class="nav-link {% if request.path == admin_notify_student %}active{% endif %}">
                                <i class="nav-icon fas fa-bullhorn"></i>
                                <p>{% trans "Notify Student" %}</p>
                            </a>
                        </li>
                        {% endcomment %}
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    {% url 'student_summary_message' as student_summary_message %}
                    {% url 'teacher_summary_message' as teacher_summary_message %}
                    <a href="#" class="nav-link {% if request.path == student_summary_message or request.path == teacher_summary_message %}active{% endif %}">
                        <i class="nav-icon fas fa-comment-alt"></i>
                        <p>
                            {% trans "Summary" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% comment %}
                        <li class="nav-item">
                            <a href="{{ student_summary_message }}" class="nav-link {% if request.path == student_summary_message %}active{% endif %}">
                                <i class="nav-icon fas fa-comment"></i>
                                <p>{% trans "Student Summary" %}</p>
                            </a>
                        </li>
                        {% endcomment %}
                        <li class="nav-item">
                            <a href="{{ teacher_summary_message }}" class="nav-link {% if request.path == teacher_summary_message %}active{% endif %}">
                                <i class="nav-icon fas fa-comment"></i>
                                <p>{% trans "View Student Summaries" %}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    {% url 'view_teacher_leave' as view_teacher_leave %}
                    {% url 'view_student_leave' as view_student_leave %}
                    <a href="#" class="nav-link {% if request.path == view_teacher_leave or request.path == view_student_leave %}active{% endif %}">
                        <i class="nav-icon fas fa-door-open"></i>
                        <p>
                            {% trans "Leave Applications" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ view_teacher_leave }}" class="nav-link {% if request.path == view_teacher_leave %}active{% endif %}">
                                <i class="nav-icon fas fa-check-double"></i>
                                <p>{% trans "Teacher Leave" %}</p>
                            </a>
                        </li>
                        <!-- Uncomment if needed -->
                        {% comment %}
                        <li class="nav-item">
                            <a href="{{ view_student_leave }}" class="nav-link {% if request.path == view_student_leave %}active{% endif %}">
                                <i class="nav-icon fas fa-check-double"></i>
                                <p>{% trans "Student Leave" %}</p>
                            </a>
                        </li>
                        {% endcomment %}
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
    
    {% comment %} {% endif %}
</aside> {% endcomment %}

#Teacher Sidebar View
<aside>
    {% elif request.user.user_type == '2' %}
    <!-- Teacher -->
    <!-- Brand Logo -->
    <a href="{% url 'teacher_home' %}" class="brand-link">
        <img src="/media/logo.png" alt="Brand Logo" class="elevation-3" style="border-radius: 50%; width: 3rem; height: 3rem;">
        <span class="brand-text font-weight-dark" style="padding-left: 0.5rem;">中之有限公司</span>
    </a>

    <!-- User Name -->
    <div class="profile-section">
        <a href="{% url 'teacher_view_profile' %}" style="color: lightgray; display: flex; align-items: center;">
            <img src="{{ user.profile_pic }}" alt="User Image" class="elevation-3" style="border-radius: 50%; width: 3rem; height: 3rem;">
            <span class="brand-text font-weight-dark" style="padding-left: 0.5rem;">
                {% if user.is_authenticated %}
                {{ user.full_name }}
                {% else %}
                Unknown
                {% endif %}
            </span>
        </a>
        <a href="{% url 'user_logout' %}" class="brand-image" onclick="return confirm('Your session will be terminated. Proceed?')">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
            </svg>
        </a>
    </div>

    <!-- Sidebar --> 
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">

                <li class="nav-item">
                    {% url 'teacher_home' as teacher_home %}
                    <a href="{{teacher_home}}"
                        class="nav-link {% if teacher_home == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            {% trans "Home" %}

                        </p>
                    </a>
                </li>
                {% comment %} Teacher Add Result {% endcomment %}
                {% comment %} <li class="nav-item has-treeview">
                    {% url 'teacher_add_result' as teacher_add_result %}
                    {% url 'edit_student_result' as edit_student_result %}
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-poll"></i>
                        <p>
                            {% trans "Student Results" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ teacher_add_result }}" class="nav-link {% if request.path == teacher_add_result %}active{% endif %}">
                                <i class="nav-icon fas fa-plus-circle"></i>
                                <p>{% trans "Add Result" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{  edit_student_result }}" class="nav-link {% if request.path == edit_student_result or request.path == edit_student_result %}active{% endif %}">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>{% trans "Edit Result" %}</p>
                            </a>
                        </li>
                    </ul>
                </li> {% endcomment %}
                <li class="nav-item has-treeview">
                    {% url 'teacher_take_attendance' as teacher_take_attendance %}
                    <!-- {% url 'teacher_update_attendance' as teacher_update_attendance %} -->
                    {% url 'teacher_manage_attendance' as teacher_manage_attendance %}
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-check"></i>
                        <p>
                            {% trans "Attendance" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ teacher_take_attendance }}" class="nav-link {% if request.path == teacher_take_attendance %}active{% endif %}">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>{% trans "Take Attendance" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ teacher_manage_attendance }}" class="nav-link {% if request.path == teacher_manage_attendance %}active{% endif %}">
                                <i class="nav-icon fas fa-th"></i>
                                <p>{% trans "Manage Attendance" %}</p>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="{{ teacher_update_attendance }}" class="nav-link {% if request.path == teacher_update_attendance %}active{% endif %}">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>{% trans "View/Update Attendance" %}</p>
                            </a>
                        </li> -->
                    </ul>
                </li>                
                <li class="nav-item has-treeview">
                    {% url 'teacher_view_notification' as teacher_view_notification %}
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-bullhorn"></i>
                        <p>
                            {% trans "Notifications" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'teacher_view_notification' as teacher_view_notification %}
                            <a href="{{ teacher_view_notification }}"
                               class="nav-link {% if teacher_view_notification == request.path %} active {% endif %}">
                                <div style="position: relative; display: inline-block;">
                                    <i id="notification-icon" class="nav-icon fas fa-bell"></i>
                                    <span id="notification-count" class="badge badge-danger">3</span> <!-- Example count -->
                                </div>
                                <p>{% trans "View Notifications" %}</p>
                            </a>
                        </li>       
                    </ul>                             
                </li>
                <li class="nav-item has-treeview">
                    {% url 'teacher_apply_leave' as teacher_apply_leave %}
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-door-open"></i>
                        <p>
                            {% trans "Leave Application" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ teacher_apply_leave }}" class="nav-link {% if request.path == teacher_apply_leave %}active{% endif %}">
                                <i class="nav-icon fas fa-check-double"></i>
                                <p>{% trans "Apply for Leave" %}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    {% url 'teacher_write_summary' as teacher_write_summary %}
                    <a href="#" class="nav-link ">
                        <i class="nav-icon fas fa-comment"></i>
                        <p>
                            {% trans "Summary" %}
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ teacher_write_summary }}" class="nav-link {% if request.path == teacher_write_summary %}active{% endif %}">
                                <i class="nav-icon fas fa-comment-alt"></i>
                                <p>{% trans "Write a Summary" %}</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- {% else %} -->
            <!-- Student -->
            <!-- Brand Logo -->
            <!-- <a href="" class="brand-link">
                <img src="{% static 'dist/img/AdminLTELogo.png' %} " alt="AdminLTE Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Student Panel</span>
            </a> -->

            <!-- Sidebar -->
            <!-- <div class="sidebar"> -->
                <!-- Sidebar user panel (optional) -->
                <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="{{ request.user.profile_pic}}" class="img-circle elevation-2"
                            alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">{{user}}</a>
                    </div>
                </div> -->

                <!-- Sidebar Menu -->
                <!-- <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">

                        <li class="nav-item">
                            {% url 'student_home' as student_home %}
                            <a href="{{student_home}}"
                                class="nav-link {% if student_home == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-home"></i>
                                <p>
                                    {% trans "Home" %}

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'student_view_profile' as student_view_profile %}
                            <a href="{{student_view_profile}}"
                                class="nav-link {% if student_view_profile == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-address-card"></i>
                                <p>
                                    {% trans "Update Profile" %}

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'student_view_attendance' as student_view_attendance %}
                            <a href="{{student_view_attendance}}"
                                class="nav-link {% if student_view_attendance == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>{% trans "View Attendance" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'student_payment_records' as student_payment_records %}
                            <a href="{{student_view_attendance}}"
                                class="nav-link {% if student_payment_records == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>{% trans "Payment Records" %}</p>
                            </a>
                        </li> -->
                        <!-- <li class="nav-item">
                            {% url 'student_view_notification' as student_view_notification %}
                            <a href="{{student_view_notification}}"
                                class="nav-link {% if student_view_notification == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-bell"></i>
                                <p>
                                    {% trans "View Notifications" %}

                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            {% url 'student_apply_leave' as student_apply_leave %}
                            <a href="{{student_apply_leave}}"
                                class="nav-link {% if student_apply_leave == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-check"></i>
                                <p>
                                    {% trans "Apply For Leave" %}

                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            {% url 'student_summary' as student_summary %}
                            <a href="{{student_summary}}"
                                class="nav-link {% if student_summary == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-comment-alt"></i>
                                <p>
                                    {% trans "summary" %}

                                </p>
                            </a>
                        </li>
                        {% endif %}                   
                    </ul>
                </nav> -->
            <!-- </div> -->
            <!-- /.sidebar-menu -->
        </nav>
    </div>
    <!-- /.sidebar -->                  
</aside>
<!-- JavaScript code to update the notification count -->
<script>
    // Function to update the notification count badge
    function updateNotificationCount() {
        $.ajax({
            url: "{% url 'teacher_view_notification_count' %}",
            type: 'GET',
            success: function(data) {
                const notificationCountElement = $('#notification-count');
                if (data.count > 0) {
                    // Display the count and make the badge visible
                    notificationCountElement.text(data.count);
                    notificationCountElement.show();
                } else {
                    // Hide the badge if there are no notifications
                    notificationCountElement.hide();
                }
                console.log('Notification count updated:', data.count);
            },
            error: function(xhr, status, error) {
                console.error('Error fetching notification count:', error);
                
                // Log the JavaScript error on the server-side
                logError(error);
            }
        });
    }

    // Call the function to update the notification count when the page loads
    $(document).ready(function() {
        console.log('Document loaded.');
        updateNotificationCount();
    });


</script>
