{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
    <i class="nav-icon fas fa-check"></i> {{ page_title }}
{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div id="success-message" class="alert alert-success" style="display: none;"></div>
        <div id="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{ page_title }}</h3>
                    </div>
                    <div class="card-body">
                        {% include "main_app/form_template.html" with messages=messages  form=form button_text=_("Update Attendance")%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        function saveAttendance() {
            $('#save_attendance').attr("disabled", "disabled").text("Saving Attendance Data...");

            var student_data = $("input[name='student_data']").val();
            var attendance_date = $('#id_hidden-attendance_date').val();
            var classes = $('#id_hidden-classes').val();
            var attendance_id = '{{ attendance_id }}'; // Add this line to retrieve the attendance_id from the template context

            $.ajax({
                url: "{% url 'teacher_edit_attendance' attendance_id=attendance_id %}", // Corrected URL construction
                type: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    'student_data': student_data,
                    'attendance_date': attendance_date,
                    'classes': classes
                },
                success: function(data) {
                    if (data.success) {
                        $('#success-message').text(data.message).addClass('alert-success').show();
                        setTimeout(function() {
                            $('#success-message').hide();
                        }, 3000);
                    } else {
                        $('#success-message').text(data.message).addClass('alert-danger').show();
                        setTimeout(function() {
                            $('#success-message').hide();
                        }, 3000);
                    }
                },
                error: function(xhr, status, error) {
                    $('#success-message').text('{% trans "An error occurred while saving the attendance." %}').addClass('alert-danger').show();
                    setTimeout(function() {
                        $('#success-message').hide();
                    }, 3000);
                },
                complete: function () {
                    $('#save_attendance').removeAttr("disabled").text("Save Attendance");
                }
            });
        }
    });

</script>
{% endblock content %}
