{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">



                        <div class="form-group">
                            <label>Classes</label>
                            <select name="classes" class="form-control" id='classes'>
                                <option value="">----</option>
                                {% for classes in classes  %}
                                <option value="{{classes.id}}">{{classes.course}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Session</label>
                            <select name="session" class="form-control" id='session'>
                                <option value="">----</option>
                                {% for session in sessions  %}
                                <option value="{{session.id}}">{{session}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group"><div  style="display: none;" class="alert alert-danger" id='error_attendance'></div>
                                <div class="alert alert-success" id='success_attendance' style="display: none;"></div>
                             <button type="button" id='fetch_attendance' class="btn btn-success btn-block">Fetch Attendance</button>
                        </div>
                    <!-- /.card-body -->
                    
                        
                               
                            <div class="form-group" style="display: none;" id="attendance_block">
                            <div class="form-group">
                                <label>Attendance Date</label>
                                <select name="attendance_date" id='attendance_date' class="form-control">
                               
                                </select>
                            </div>
                            <div class="form-group">
                                
                            <div id="fetch_student_block" style="display: none;">
                                <button type="button" id='fetch_student' class="btn btn-success btn-block">Fetch Students</button>

                            <!-- <button style="display: none;" type="button" id='save_attendance' class="btn btn-primary btn-block">Save Data</button> -->

                            </div>
                            <div id='student_data' class="card-footer">

                            </div>
                        </div>
                    </div>  
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block custom_js %}
<script>
    $(document).ready(function () {
        console.log("Document is ready");

        $("#fetch_attendance").click(function(){
            console.log("Fetch attendance button clicked");
            var classes = $("#classes").val();
            var session = $("#session").val();
            console.log("Selected classes:", classes);
            console.log("Selected session:", session);

            if (session.length < 1 || classes.length < 1){
                console.log("Error: Both classes and session must be selected");
                $("#error_attendance").html("Kindly choose both classes and session");
                $("#attendance_block").hide();
                $("#error_attendance").show();
                return false;
            }

            $.ajax({
                url: "{% url 'get_attendance_dates' %}",
                type: 'POST',
                data: {
                    classes: classes,
                    session: session,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log("Attendance dates response received:", response);
                    var json_data = response;
                    if (json_data.length > 0){
                        var html = "";
                        for (key in json_data){
                            html += "<option value='"+json_data[key]['id']+"'>"+json_data[key]['attendance_date']+"</option>";
                        }
                        $("#attendance_date").html(html);
                        $("#error_attendance").hide();
                        $("#attendance_block").show();
                        $("#fetch_student_block").show();
                    } else {
                        console.log("No attendance dates found for specified data");
                        $("#error_attendance").html("No attendance date found for specified data");
                        $("#error_attendance").show();
                        $("#attendance_date").html("");
                        $("#attendance_block").hide();
                    }
                },
                error: function(response) {
                    console.error("Error while fetching attendance dates:", response);
                    alert("Error while fetching data");
                    $("#error_attendance").html("");
                    $("#attendance_block").hide();
                }
            });
        });

        $("#fetch_student").click(function () {
            console.log("Fetch student button clicked");
            var attendance_date = $("#attendance_date").val();
            $("#student_data").html(null);
            console.log("Selected attendance date:", attendance_date);

            if (attendance_date.length == 0){
                console.log("Error: Attendance date must be selected");
                alert("Please choose a date");
                $("#save_attendance").hide();
                return false;
            }

            $.ajax({
                url: "{% url 'get_student_attendance' %}",
                type: 'POST',
                data: {
                    attendance_date_id: attendance_date,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log("Student attendance data response received:", response);
                    var json_data = response;
                    if (json_data.length < 1) {
                        console.log("No student data to display");
                        alert("No data to display");
                        $("#save_attendance").hide();
                    } else {
                        $("#save_attendance").show();
                        var div_data = "<hr/><div class='form-group'></div><div class='form-group'> <label>Student Attendance</label><div class='row'>";
                        for (key in json_data) {
                            div_data += "<div class='col-lg-3'><div class='form-check custom-control custom-checkbox'><input type='checkbox' class='custom-control-input' " + (json_data[key]['status'] ? "checked='checked'" : "")+" name='student_data[]' value=" + json_data[key]['id'] + " id='checkbox" + json_data[key]['id'] + "' /> <label for='checkbox" + json_data[key]['id'] + "' class='custom-control-label'>" + json_data[key]['name']  + (json_data[key]['status'] ? " [Present] " : " [Absent] ")+"</label></div> </div>";
                        }
                        div_data += "</div></div>";
                        div_data += "<div class='form-group'><button id='save_attendance' class='btn btn-success' type='button'>Save Attendance</button></div>";
                        $("#student_data").html(div_data);
                    }
                },
                error: function(response) {
                    console.error("Error while fetching student attendance data:", response);
                    alert("Error in fetching students");
                }
            });
        });

        $(document).on('click', '#save_attendance', function () {
            console.log("Save attendance button clicked");
            $(this).text("Updating Attendance Data...");
            var student_data = $("input[name='student_data[]']").map(function () {
                return {'id': $(this).val(), 'status': $(this).is(":checked") ? 1 : 0};
            }).get();
            console.log("Student data to be saved:", student_data);
            var attendance_date = $("#attendance_date").val();
            student_data = JSON.stringify(student_data);

            $.ajax({
                url: "{% url 'update_attendance' %}",
                type: 'POST',
                data: {
                    date: attendance_date,
                    student_ids: student_data,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response == 'OK'){
                        console.log("Attendance updated successfully");
                        alert("Updated");
                    } else {
                        console.log("Error while updating attendance");
                        alert("Error. Please try again");
                    }
                    location.reload();
                },
                error: function (response) {
                    console.error("Error in saving attendance:", response);
                    alert("Error in saving attendance");
                }
            });
        });
    });
</script>

{% endblock custom_js %}