{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
    <i class="nav-icon fas fa-pencil-ruler"></i>  {{ page_title }}
{% endblock page_title %}

{% block content %}
<style>
    .responsive-buttons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .btn-responsive {
        flex: 1 1 auto;
        margin: 5px;
        min-width: 68px;
        text-align: center;
    }

    @media (max-width: 576px) {
        .btn-responsive {
            flex-basis: 100%;
        }
    }

    .table-container {
        overflow-x: auto;
    }

    th, td {
        white-space: nowrap;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .pagination a, .pagination span {
        margin: 0 5px;
        padding: 8px 16px;
        text-decoration: none;
        color: #5FC032;
        border: 1px solid #DEE2E600;
        border-radius: 4px;
    }
    .pagination a:hover {
        background-color: #e9ecef;
    }
    .pagination .current {
        background-color: #5FC032;
        color: white;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dropdown-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 300px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div id="success-message" class="alert alert-success" style="display: none;"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header header-container">
                        <div class="d-flex align-items-center">
                            <i class="nav-icon fas fa-pencil-alt" style="font-size: 24px; margin-right: 10px;"></i>
                            <h3 class="card-title">{% trans "Manage Attendance" %}</h3>
                        </div>
                        <div class="d-flex align-items-center" style="margin-left: 15%;">
                            <h3 class="card-title">{% blocktrans %}Total Absent Hours: {{ total_absent_hours }}{% endblocktrans %}</h3>
                        </div>                        
                        <!-- Student Dropdown -->
                        <div class="dropdown-container" style="margin-left: 25%;">
                            <select id="studentDropdown" class="form-control">
                                <option value="">{% trans "Select a student" %}</option>
                                {% for student in students %}
                                    <option value="{{ student.id }}" {% if student.id|stringformat:"s" == selected_student_id %}selected{% endif %}>{{ student.admin.full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-container">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>{% trans "Index No." %}</th>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Class" %}</th>
                                    <th>{% trans "Session" %}</th>
                                    <th>{% trans "Actions" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attendance in attendances %}
                                <tr id="attendance-{{ attendance.id }}">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ attendance.date }}</td>
                                    <td>{{ attendance.classes.course }}</td>
                                    <td>{{ attendance.session }}</td>
                                    <td class="responsive-buttons">
                                        <a href="{% url 'teacher_edit_attendance' attendance.id %}?course={{ attendance.classes.id }}&date={{ attendance.date }}" class="btn btn-info btn-responsive">{% trans "Edit" %}</a>
                                        <button class="btn btn-danger btn-responsive" onclick="deleteAttendance({{ attendance.id }})">{% trans "Delete" %}</button>
                                        <button class="btn btn-primary btn-responsive" onclick="viewAttendance({{ attendance.id }}, '{{ attendance.date }}')">{% trans "View" %}</button>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">{% trans "No Attendance records" %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>                            
                        </table>
                        <div class="pagination">
                            <span class="step-links">
                                {% if attendances.has_previous %}
                                    <a href="?page=1{% if selected_student_id %}&student_id={{ selected_student_id }}{% endif %}">&laquo; first</a>
                                    <a href="?page={{ attendances.previous_page_number }}{% if selected_student_id %}&student_id={{ selected_student_id }}{% endif %}">previous</a>
                                {% endif %}
                                
                                <span class="current">
                                    Page {{ attendances.number }} of {{ attendances.paginator.num_pages }}.
                                </span>
                                
                                {% if attendances.has_next %}
                                    <a href="?page={{ attendances.next_page_number }}{% if selected_student_id %}&student_id={{ selected_student_id }}{% endif %}">next</a>
                                    <a href="?page={{ attendances.paginator.num_pages }}{% if selected_student_id %}&student_id={{ selected_student_id }}{% endif %}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal for viewing students -->
<div class="modal fade" id="viewAttendanceModal" tabindex="-1" role="dialog" aria-labelledby="viewAttendanceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewAttendanceModalLabel">{% trans "Attendance Details" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{% trans "Student Name" %}</th>
                            <th>{% trans "Present" %}</th>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Total Class Hours" %}</th>
                            <th>{% trans "Absent Hours" %}</th>
                        </tr>
                    </thead>
                    <tbody id="attendanceDetails">
                        <!-- Student attendance details will be populated here by JavaScript -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // Function to delete attendance and show success message
    function deleteAttendance(attendanceId) {
        if (confirm('{% trans 'Are you sure about this ?' %}')) {
            $.ajax({
                type: 'POST',
                url: '{% url "teacher_delete_attendance" %}',
                data: {
                    'attendance_id': attendanceId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    if (data.success) {
                        // Remove the table row
                        $('#attendance-' + attendanceId).remove();
                        // Show success message
                        $('#success-message').text('{% trans "Attendance Deleted Successfully!" %}');
                        $('#success-message').show();
                        // Hide success message after 3 seconds
                        setTimeout(function() {
                            $('#success-message').hide();
                        }, 3000);
                    } else {
                        // Show error message
                        $('#success-message').text('{% trans "An error occurred while deleting the attendance." %}');
                        $('#success-message').addClass('alert-danger');
                        $('#success-message').show();
                        // Hide error message after 3 seconds
                        setTimeout(function() {
                            $('#success-message').hide();
                        }, 3000);
                    }
                },
                error: function(xhr, status, error) {
                    // Show error message
                    $('#success-message').text('{% trans "An error occurred while deleting the attendance." %}');
                    $('#success-message').addClass('alert-danger');
                    $('#success-message').show();
                    // Hide error message after 3 seconds
                    setTimeout(function() {
                        $('#success-message').hide();
                    }, 3000);
                }
            });
        }
    }

    // Function to view attendance details
    function viewAttendance(attendanceId, attendanceDate) {
        console.log('viewAttendance called with attendanceId:', attendanceId, 'and attendanceDate:', attendanceDate);

        $.ajax({
            type: 'GET',
            url: '{% url "teacher_view_attendance" %}',
            data: {
                'attendance_id': attendanceId
            },
            success: function(data) {
                console.log('AJAX request successful:', data);

                if (data.success) {
                    var attendanceDetails = data.attendance_details;
                    var tableBody = $('#attendanceDetails');

                    tableBody.empty(); // Clear previous data

                    // Populate table with new data
                    attendanceDetails.forEach(function(detail) {
                        console.log('Processing detail:', detail);

                        var row = '<tr>' +
                                    '<td>' + detail.student_name + '</td>' +
                                    '<td>' + (detail.is_present ? '{% trans "Yes" %}' : '{% trans "No" %}') + '</td>' +
                                    '<td>' + attendanceDate + '</td>' +  // Use the passed date here
                                    '<td>' + detail.total_class_hours + '</td>' +
                                    '<td>' + detail.absent_hours + '</td>' +
                                    '</tr>';
                        tableBody.append(row);
                    });

                    // Show the modal
                    $('#viewAttendanceModal').modal('show');
                } else {
                    console.error('Data error:', data.error);
                    // Show error message
                    $('#success-message').text('{% trans "An error occurred while retrieving the attendance details." %}');
                    $('#success-message').addClass('alert-danger');
                    $('#success-message').show();
                    // Hide error message after 3 seconds
                    setTimeout(function() {
                        $('#success-message').hide();
                    }, 3000);
                }
            },
            error: function(xhr, status, error) {
                console.error('AJAX request error:', xhr.responseText, 'Status:', status, 'Error:', error);
                // Show error message
                $('#success-message').text('{% trans "An error occurred while retrieving the attendance details." %}');
                $('#success-message').addClass('alert-danger');
                $('#success-message').show();
                // Hide error message after 3 seconds
                setTimeout(function() {
                    $('#success-message').hide();
                }, 3000);
            }
        });
    }

    // Add change event listener to the dropdown
    $('#studentDropdown').change(function() {
        var selectedStudentId = $(this).val();
        var currentUrl = window.location.href.split('?')[0]; // Get the base URL without parameters
        var newUrl = currentUrl + '?student_id=' + selectedStudentId; // Add the selected student ID as a parameter
        window.location.href = newUrl; // Redirect to the new URL
    });
</script>
{% endblock content %}
