{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {{ page_title }}
{% endblock page_title %}

{% block content %}
<style>
    .responsive-buttons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .btn-responsive {
        flex: 1 1 auto;
        margin: 2px;
        min-width: 68px;
        text-align: center;
    }

    @media (max-width: 576px) {
        .btn-responsive {
            flex-basis: 100%;
        }
    }

    .bolded {
        font-weight: bold;
    }
</style>

<section class="content">
    <div class="container-fluid">
        {% if messages %}
        <div id="message-box">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        <script>
            // Hide the message after 1 second
            setTimeout(function() {
                var messageBox = document.getElementById('message-box');
                if (messageBox) {
                    messageBox.style.display = 'none';
                }
            }, 1000); // 1000 milliseconds = 1 second
        </script>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="d-flex align-items-center">
                            <i class="nav-icon fas fa-bell" style="font-size: 24px; margin-right: 10px;"></i>
                            <h3 class="card-title">{{ page_title }}</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>{% trans 'Date' %}</th>
                                    <th>{% trans 'Time' %}</th>
                                    <th>{% trans 'Message' %}</th>
                                    <th>{% trans 'Actions' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for notification in notifications %}
                                <tr {% if not notification.is_read %}class="bolded"{% endif %}>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ notification.date|date:"Y-m-d" }}</td>
                                    <td>{{ notification.time|date:"g:i A" }}</td>
                                    <td>{{ notification.message }}</td>
                                    <td>
                                        <a href="{% url 'mark_notification_as_read' notification.id %}" class="btn btn-success">{% trans 'Mark as Read' %}</a>
                                        <a href="{% url 'teacher_delete_notification' notification.id %}" class="btn btn-danger" onclick="return confirm('{% trans 'Are you sure you want to delete this notification?' %}')">{% trans 'Delete' %}</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">{% trans "No new messages" %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
