{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {{ page_title }}
{% endblock page_title %}

{% block content %}
<style>
    .responsive-buttons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .btn-responsive {
        flex: 1 1 auto;
        margin: 2px;
        min-width: 68px;
        text-align: center;
    }

    @media (max-width: 576px) {
        .btn-responsive {
            flex-basis: 100%;
        }
    }

    .bolded {
        font-weight: bold;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div id="success-message" class="alert alert-success" style="display: none;"></div>

        {% if messages %}
        <div id="message-box">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} message-alert" id="message-{{ forloop.counter }}">{{ message }}</div>
            {% endfor %}
        </div>
        <script>
            // Hide each message after 1 second and log a message to the console
            setTimeout(function() {
                var alerts = document.getElementsByClassName('message-alert');
                for (var i = 0; i < alerts.length; i++) {
                    console.log('Hiding message:', alerts[i].innerText);
                    alerts[i].style.display = 'none';
                }
            }, 1000); // 1000 milliseconds = 1 second
        </script>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="d-flex align-items-center">
                            <i class="nav-icon fas fa-bell" style="font-size: 24px; margin-right: 10px;"></i>
                            <h3 class="card-title">{{ page_title }}</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>{% trans 'Date' %}</th>
                                    <th>{% trans 'Time' %}</th>
                                    <th>{% trans 'Message' %}</th>
                                    <th>{% trans 'Actions' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for notification in notifications %}
                                <tr id="notification-{{ notification.id }}" {% if not notification.is_read %}class="bolded"{% endif %}>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ notification.date|date:"Y-m-d" }}</td>
                                    <td>{{ notification.time|date:"g:i A" }}</td>
                                    <td>{{ notification.message }}</td>
                                    <td>
                                        <a href="{% url 'mark_notification_as_read' notification.id %}" class="btn btn-success">{% trans 'Mark as Read' %}</a>
                                        <button class="btn btn-danger delete-notification" data-notification-id="{{ notification.id }}" onclick="deleteNotification({{ notification.id }})">{% trans 'Delete' %}</button>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">{% trans "No new messages" %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // Function to delete notification and show success message
    function deleteNotification(notificationId) {
        if (confirm('{% trans 'Are you sure you want to delete this notification?' %}')) {
            $.ajax({
                type: 'POST',
                url: '{% url "teacher_delete_notification" %}',
                data: {
                    'notification_id': notificationId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    if (data.success) {
                        // Remove the table row
                        $('#notification-' + notificationId).remove();
                        // Show success message
                        $('#success-message').text('{% trans "Notification Deleted Successfully!" %}');
                        $('#success-message').show();
                        // Hide success message after 3 seconds
                        setTimeout(function() {
                            $('#success-message').hide();
                        }, 3000);
                    } else {
                        console.error(data.error);
                        // Show error message
                        $('#success-message').text('{% trans "An error occurred while deleting the notification." %}');
                        $('#success-message').addClass('alert-danger');
                        $('#success-message').show();
                        // Hide error message after 3 seconds
                        setTimeout(function() {
                            $('#success-message').hide();
                        }, 3000);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    // Show error message
                    $('#success-message').text('{% trans "An error occurred while deleting the notification." %}');
                    $('#success-message').addClass('alert-danger');
                    $('#success-message').show();
                    // Hide error message after 3 seconds
                    setTimeout(function() {
                        $('#success-message').hide();
                    }, 3000);
                }
            });
        }
    }
</script>
{% endblock content %}
