{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
{% trans page_title %}
{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div id="success-message" class="alert alert-success" style="display: none;"></div>

        {% if messages %}
        <div id="message-box">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} message-alert" id="message-{{ forloop.counter }}">{{ message }}</div>
            {% endfor %}
        </div>
        <script>
            setTimeout(function() {
                var alerts = document.getElementsByClassName('message-alert');
                for (var i = 0; i < alerts.length; i++) {
                    console.log('Hiding message:', alerts[i].innerText);
                    alerts[i].style.display = 'none';
                }
            }, 1000); // 1000 milliseconds = 1 second
        </script>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{% trans page_title %}</h3>
                    </div>

                    <form id="leave-application-form" method="POST" action="{% url 'teacher_apply_leave' %}">
                        {% csrf_token %}
                        {% include "main_app/form_template.html" with messages=messages form=form button_text=_("Apply For Leave") %}
                    </form>
                </div>
                <!-- /.card -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title"><b>{% trans "Select Grade" %}</b></h3>
                    </div>
                    <div class="table">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>{% trans "ID" %}</th>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Message" %}</th>
                                    <th>{% trans "Status" %}</th>
                                </tr>
                            </thead>
                            {% for leave in leave_history %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ leave.date }}</td>
                                <td>{{ leave.message }}</td>
                                <td>
                                    {% if leave.status == 0 %}
                                    <span class="badge badge-warning">{% trans "Pending" %}</span>
                                    {% elif leave.status == 1 %}
                                    <span class="badge badge-success">{% trans "Accepted" %}</span>
                                    {% else %}
                                    <span class="badge badge-danger">{% trans "Rejected" %}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        // Function to handle form submission via AJAX
        $('#leave-application-form').submit(function(event) {
            event.preventDefault(); // Prevent default form submission
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function(data) {
                    if (data.success) {
                        // Show success message
                        $('#success-message').removeClass('alert-danger').addClass('alert-success');
                        $('#success-message').text(data.message);
                        $('#success-message').show();
                        // Hide success message after 3 seconds
                        setTimeout(function() {
                            $('#success-message').hide();
                        }, 3000);
                    } else {
                        console.error(data.errors || data.message);
                        // Show error message
                        $('#success-message').removeClass('alert-success').addClass('alert-danger');
                        $('#success-message').text(data.errors || data.message);
                        $('#success-message').show();
                        // Hide error message after 3 seconds
                        setTimeout(function() {
                            $('#success-message').hide();
                        }, 3000);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    // Show error message
                    $('#success-message').removeClass('alert-success').addClass('alert-danger');
                    $('#success-message').text('An error occurred while applying for leave.');
                    $('#success-message').show();
                    // Hide error message after 3 seconds
                    setTimeout(function() {
                        $('#success-message').hide();
                    }, 3000);
                }
            });
        });
    });
</script>
{% endblock content %}
