{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}<i class="nav-icon fas fa-pencil-ruler"></i>  {{ page_title }}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{% trans "Add Learning Record" %}</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#id_course').change(function() {
        var courseId = $(this).val();
        if (courseId) {
            $.ajax({
                url: '{% url "get_teachers" %}',
                data: {
                    'course_id': courseId
                },
                success: function(data) {
                    var options = '<option value="">{% trans "Select Teacher" %}</option>';
                    $.each(data.teachers, function(key, teacher) {
                        options += '<option value="' + teacher.id + '">' + teacher.name + '</option>';
                    });
                    $('#id_teacher').html(options);
                }
            });
        } else {
            $('#id_teacher').html('<option value="">{% trans "Select Teacher" %}</option>');
        }
    });

    $('#id_teacher').change(function() {
        var courseId = $('#id_course').val();
        var teacherId = $(this).val();
        if (courseId && teacherId) {
            $.ajax({
                url: '{% url "get_schedule" %}',
                data: {
                    'course_id': courseId,
                    'teacher_id': teacherId
                },
                success: function(data) {
                    if (data.schedule) {
                        $('#id_day').val(data.schedule.day);
                        $('#id_start_time').val(data.schedule.start_time);
                        $('#id_end_time').val(data.schedule.end_time);
                        $('#id_lesson_hours').val(data.schedule.lesson_hours);
                    } else {
                        $('#id_day').val('');
                        $('#id_start_time').val('');
                        $('#id_end_time').val('');
                        $('#id_lesson_hours').val('');
                    }
                }
            });
        } else {
            $('#id_day').val('');
            $('#id_start_time').val('');
            $('#id_end_time').val('');
            $('#id_lesson_hours').val('');
        }
    });
});
</script>
{% endblock content %}
