{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}{% trans page_title %}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{% trans page_title %}</h3>
                    </div>

                    {% include "main_app/form_template.html" with messages=messages  form=form button_text=_("Add New Record")%}
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_course, #id_teacher').change(function () {
            var courseId = $('#id_course').val();
            var teacherId = $('#id_teacher').val();
    
            $.ajax({
                url: '/fetch-class-schedule/',
                method: 'GET',
                data: {
                    'course_id': courseId,
                    'teacher_id': teacherId
                },
                dataType: 'json', // Ensure proper JSON handling
                success: function (data) {
                    if (data) {
                        $('#id_start_time').val(data.start_time || '');
                        $('#id_end_time').val(data.end_time || '');
                        $('#id_lesson_hours').val(data.lesson_hours || '');
                    } else {
                        $('#id_start_time').val('');
                        $('#id_end_time').val('');
                        $('#id_lesson_hours').val('');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    // Handle errors here, for example, show an alert to the user
                    alert("Failed to fetch class schedule. Please try again later.");
                }
            });
        });
    });
</script>

{% endblock content %}