{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}{% trans page_title %}{% endblock page_title %}

{% block custom_css %}
<style>
.attendance_div_red {
    padding: 10px;
    background: #f44336;
    border: 3px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin: 5px;
}
.attendance_div_green {
    padding: 10px;
    background: #4CAF50;
    border: 3px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin: 5px;
}
</style>
{% endblock custom_css %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{% trans page_title %}</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>{% trans "Classes" %}</label>
                            <select name="classes" class="form-control" id='classes'>
                                <option value="">{% trans "Select Course" %}</option>
                                {% for class in classes %}
                                <option value="{{ class.id }}">{{ class.course }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Session" %}</label>
                            <select name="session" class="form-control" id='session'>
                                <option value="">{% trans "Select Semester" %}</option>
                                {% for session in sessions %}
                                <option value="{{ session.id }}">{{ session }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <div style="display: none;" class="alert alert-danger" id='error_attendance'></div>
                            <div class="alert alert-success" id='success_attendance' style="display: none;"></div>
                            <button type="button" id='fetch_attendance' class="btn btn-success btn-block">{% trans "Fetch Attendance" %}</button>
                        </div>
                        <div class="form-group" style="display: none;" id="attendance_block">
                            <div class="form-group">
                                <label>{% trans "Attendance Date" %}</label>
                                <select name="attendance_date" id='attendance_date' class="form-control">
                                    <option value="">{% trans "Select Date" %}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div id='student_data' class="card-footer"></div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block custom_js %}
<script>
    $(document).ready(function () {
        function fetchAttendance() {
            var classes = $("#classes").val();
            var session = $("#session").val();
            $("#student_data").html("");
    
            if (session.length < 1 || classes.length < 1) {
                $("#error_attendance").html("{% trans 'Kindly Choose Both Classes and Session' %}");
                $("#attendance_block").hide();
                $("#error_attendance").show();
                return false;
            }
    
            $.ajax({
                url: "{% url 'get_admin_attendance' %}",
                type: "POST",
                data: {
                    'classes': classes,
                    'session': session,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(response) {
                    var data = JSON.parse(response);
                    var dates = new Set();
                    var html = "<table class='table table-bordered'><thead><tr><th>{% trans 'Student Name' %}</th><th>{% trans 'Status' %}</th><th>{% trans 'Date' %}</th></tr></thead><tbody>";
                    data.forEach(function(item) {
                        var statusText = item.status === 'True' ? '{% trans "Present" %}' : '{% trans "Absent" %}';
                        html += "<tr data-date='" + item.date + "'><td>" + item.name + "</td><td>" + statusText + "</td><td>" + item.date + "</td></tr>";
                        dates.add(item.date);
                    });
                    html += "</tbody></table>";
                    $("#student_data").html(html);
    
                    var dateOptions = "<option value=''>{% trans "----" %}</option>";
                    dates.forEach(function(date) {
                        dateOptions += "<option value='" + date + "'>" + date + "</option>";
                    });
                    $("#attendance_date").html(dateOptions);
    
                    $("#attendance_block").show();
                    $("#error_attendance").hide();
                },
                error: function() {
                    $("#error_attendance").html("{% trans 'Error fetching attendance data. Please try again.' %}");
                    $("#attendance_block").hide();
                    $("#error_attendance").show();
                }
            });
        }
    
        function filterAttendance() {
            var selectedDate = $("#attendance_date").val();
            if (selectedDate) {
                $("#student_data table tbody tr").each(function() {
                    if ($(this).data("date") === selectedDate) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            } else {
                $("#student_data table tbody tr").show();
            }
        }
    
        {% comment %} $("#classes, #session").change(fetchAttendance); {% endcomment %}
        $("#attendance_date").change(filterAttendance);
        $("#fetch_attendance").click(fetchAttendance);
    });
    
</script>

{% endblock custom_js %}
