{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}{% trans page_title %}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div id="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{% trans page_title %}</h3>
                    </div>
                    {% include "main_app/form_template.html" with messages=messages  form=form button_text=_("Update Student")%}
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% block custom_js %}
<script>
    $(document).ready(function() {
        $('form').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'edit_student' student_id %}",
                type: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    $('#messages').html('<div class="alert alert-success">' + response.message + '</div>');
                    // Jump to the top of the page
                    window.scrollTo(0, 0);
                    setTimeout(function() {
                        $('.alert').fadeOut('slow');
                        window.location.href = "{% url 'manage_student' %}"; 
                    }, 3000);
                },
                error: function(response) {
                    var errors = response.responseJSON.errors;
                    $('#messages').html('<div class="alert alert-danger">' + response.responseJSON.message + '</div>');
                    // Jump to the top of the page
                    window.scrollTo(0, 0);
                    setTimeout(function() {
                        $('.alert').fadeOut('slow');
                    }, 3000);
                }
            });
        });

        // Hide messages after 3 seconds
        setTimeout(function() {
            $('.alert').fadeOut('slow');
        }, 3000);
    });
</script>
{% endblock custom_js %}
{% endblock content %}
