{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}{% trans page_title %}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div id="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div id="success-message" class="alert alert-success" style="display: none;"></div>
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{% trans page_title %}</h3>
                    </div>
                    {% include "main_app/form_template.html" with messages=messages form=form button_text=_("Update Schedule") %}
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.timepicker').datetimepicker({
            format: 'HH:mm'
        });

        $('#id_start_time, #id_end_time').on('change', function () {
            var startTime = $('#id_start_time').val();
            var endTime = $('#id_end_time').val();
            console.log("Start Time Changed: ", startTime);
            console.log("End Time Changed: ", endTime);
            calculateLessonHours(startTime, endTime);
        });

        function calculateLessonHours(start, end) {
            var startTime = moment(start, 'HH:mm');
            var endTime = moment(end, 'HH:mm');

            if (endTime.isBefore(startTime)) {
                alert('{% trans "End time must be after start time." %}');
                return;
            }

            var duration = moment.duration(endTime.diff(startTime));
            var hours = Math.floor(duration.asHours());
            var minutes = Math.floor(duration.asMinutes()) % 60;

            var lessonHours = hours + (minutes / 60);
            lessonHours = lessonHours.toFixed(1); // Round to 1 decimal places

            var lessonHoursField = $('#id_lesson_hours');
            lessonHoursField.val(lessonHours);

            console.log("Calculated Lesson Hours: ", lessonHours);
        }

        $('#id_course').on('change', function() {
            var courseId = $(this).val();
            console.log("Course Changed: ", courseId);
            fetch(`/get-grade-choices/?course_id=${courseId}`)
                .then(response => response.json())
                .then(data => {
                    var select = $('#id_grade');
                    select.empty();
                    data.choices.forEach(function(choice) {
                        var option = new Option(choice[1], choice[0]);
                        select.append(option);
                    });
                });
        });

        $('form').on('submit', function(event) {
            event.preventDefault();
            console.log("Form submitted");
            $.ajax({
                url: "{% url 'edit_class_schedule' schedule_id %}",
                type: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    console.log("Form submission successful: ", response);
                    $('#messages').html('<div class="alert alert-success">' + response.message + '</div>');
                    window.scrollTo(0, 0);
                    setTimeout(function() {
                        $('.alert').fadeOut('slow');
                        window.location.href = "{% url 'manage_class_schedule' %}";
                    }, 3000);
                },
                error: function(response) {
                    var errors = response.responseJSON.errors;
                    console.log("Form submission error: ", response);
                    $('#messages').html('<div class="alert alert-danger">' + response.responseJSON.message + '</div>');
                    window.scrollTo(0, 0);
                    setTimeout(function() {
                        $('.alert').fadeOut('slow');
                    }, 3000);
                }
            });
        });
    });
</script>
{% endblock content %}
