{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}{% trans page_title %}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div id="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div id="success-message" class="alert alert-success" style="display: none;"></div>
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{% trans page_title %}</h3>
                    </div>

                    {% include "main_app/form_template.html" with messages=messages form=form button_text=_("Edit Course") %}
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block custom_js %}
<script>
    $(document).ready(function(){
        $('form').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);  // Create FormData object
            var courseId = {{ course_id }};
            $.ajax({
                url: "{% url 'edit_course' course_id=course_id %}",
                type: 'POST',
                data: formData,
                processData: false,  // Prevent jQuery from converting the data
                contentType: false,  // Ensure multipart/form-data is used
                success: function(response) {
                    $('#messages').html('<div class="alert alert-success">' + response.message + '</div>');
                    window.scrollTo(0, 0);
                    setTimeout(function() {
                        $('.alert').fadeOut('slow');
                        window.location.href = "{% url 'manage_course' %}";
                    }, 3000);
                },
                error: function(response) {
                    var errors = response.responseJSON.errors;
                    $('#messages').html('<div class="alert alert-danger">' + response.responseJSON.message + '</div>');
                    window.scrollTo(0, 0);
                    setTimeout(function() {
                        $('.alert').fadeOut('slow');
                    }, 3000);
                }
            });
        });
    });
</script>
{% endblock custom_js %}
