{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}{% trans page_title %}{% endblock page_title %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-teal">
                    <div class="inner">
                        <h3>{{ total_students }}</h3>
                        <p>{% trans "Total Students" %}</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-user-graduate"></i>
                    </div>
                    <a href="{% url 'manage_student' %}" class="small-box-footer">{% trans "More info" %} <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{ total_teacher }}</h3>
                        <p>{% trans "Total Teachers" %}</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-users"></i>
                    </div>
                    <a href="{% url 'manage_teacher' %}" class="small-box-footer">{% trans "More info" %} <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>{{ total_course }}</h3>
                        <p>{% trans "Total Courses" %}</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-th-list"></i>
                    </div>
                    <a href="{% url 'manage_course' %}" class="small-box-footer">{% trans "More info" %} <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ total_income }}</h3>
                        <p>{% trans "¥ Total Income" %}</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <a href="{% url 'manage_payment_record' %}" class="small-box-footer">{% trans "More info" %} <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <div class="col-md-6">
                <!-- LINE CHART -->
                <div class="card card-dark">
                  <div class="card-header">
                    <h3 class="card-title">{% trans "Teachers - Student's Overview" %}</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="chart">
                      <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
            </div>
            <div class="col-md-6">
                <div class="card card-dark">
                  <div class="card-header">
                    <h3 class="card-title">{% trans "Attendance Per Course" %}</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="chart">
                      <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
            </div>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->
        <div class="row">
          <div class="col-lg-12">
            <!-- BAR CHART -->
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title"> {% trans "Student's Attendance & Leave Overview" %}</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <!-- PIE CHART -->
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">{% trans "Total Students in Each Course" %}</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
          </div>

          <div class="col-lg-6">
            <!-- PIE CHART -->
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">{% trans "Total Students in Each Classes" %}</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        
        <!-- Comparison of Teachers' Lesson Hours -->
        <div class="row">
          <div class="col-lg-12">
            <!-- BAR CHART -->
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title"> {% trans "Comparison of Teachers' Lesson Hours" %}</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="lessonHoursChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Percentage of Course Participants -->
        <div class="row">
          <div class="col-lg-12">
            <!-- PIE CHART -->
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title"> {% trans "Percentage of Course Participants" %}</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="courseParticipantsChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Monthly Contributions Chart -->
        <div class="row">
          <div class="col-lg-12">
            <!-- BAR CHART -->
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">{% trans "Monthly Contributions" %}</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="monthlyContributionsChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

    </div><!-- /.container-fluid -->
</section>
{% endblock content %}

{% block custom_js %}
  <!-- Include Summernote CSS/JS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>

  <!-- Include Decimal.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.3.1/decimal.min.js"></script>

  <script>
      $(document).ready(function(){
        var donutData = {
            labels: ['Students', 'Teacher'],
            datasets: [
              {
                data:[{{ total_students }}, {{ total_teacher }}],
                backgroundColor : ['#0071A6', '#F31212'],
              }
            ]
          }
        var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
        var pieData = donutData;
        var pieOptions = {
          maintainAspectRatio : false,
          responsive : true,
        }
        var pieChart = new Chart(pieChartCanvas, {
          type: 'pie',
          data: pieData,
          options: pieOptions      
        });

        var classes_list = {{ classes_list|safe|escape }};
        var attendance_list = {{ attendance_list }};
  
        var barChartData = {
          labels  : classes_list,
          datasets: [
            {
              label               : 'Attendance Per Course',
              backgroundColor     : '#17A2B8',
              borderColor         : 'rgba(60,141,188,0.8)',
              pointRadius          : false,
              pointColor          : '#3b8bba',
              pointStrokeColor    : 'rgba(60,141,188,1)',
              pointHighlightFill  : '#fff',
              pointHighlightStroke: 'rgba(60,141,188,1)',
              data                : attendance_list
            }, 
          ]
        }
        var barChartCanvas = $('#barChart').get(0).getContext('2d')
        var temp0 = barChartData.datasets[0]
        barChartData.datasets[0] = temp0
    
        var stackedBarChartOptions = {
          responsive              : true,
          maintainAspectRatio     : false,
          scales: {
            xAxes: [{
              stacked: true,
            }],
            yAxes: [{
              stacked: true
            }]
          }
        }
    
        var barChart = new Chart(barChartCanvas, {
          type: 'bar', 
          data: barChartData,
          options: stackedBarChartOptions
        })

        // Total Students in Each Classes
        var student_count_list_in_classes = {{ student_count_list_in_classes }}
        var classes_list = {{ classes_list|safe }}
        var pieData3 = {
          labels: classes_list,
          datasets: [
            {
              data: student_count_list_in_classes,
              backgroundColor : ['#FF6F22', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#894e9c', '#0b523a', '#a1156d', '#9e4603'],
            }
          ]
        }

        var pieChartCanvas3 = $('#pieChart3').get(0).getContext('2d')
        var pieData3 = pieData3;
        var pieOptions3 = {
          maintainAspectRatio : false,
          responsive : true,
        }

        var pieChart3 = new Chart(pieChartCanvas3, {
          type: 'pie',
          data: pieData3,
          options: pieOptions3      
        })   

        // Student Attendance & Leave Overview
        var student_attendance_present_list = {{ student_attendance_present_list }};
        var student_attendance_leave_list = {{ student_attendance_leave_list }};
        var student_name_list = {{ student_name_list|safe }};

        var areaChartData2 = {
          labels  : student_name_list,
          datasets: [
            {
              label               : 'Absent/Leave',
              backgroundColor     : '#FFDF2E',
              borderColor         : '#b50a04',
              pointRadius          : false,
              pointColor          : '#3b8bba',
              pointStrokeColor    : 'rgba(60,141,188,1)',
              pointHighlightFill  : '#fff',
              pointHighlightStroke: 'rgba(60,141,188,1)',
              data                : student_attendance_leave_list 
            },
            {
              label               : 'Attendance',
              backgroundColor     : '#2D8F49',
              borderColor         : 'rgba(210, 214, 222, 1)',
              pointRadius         : false,
              pointColor          : 'rgba(210, 214, 222, 1)',
              pointStrokeColor    : '#c1c7d1',
              pointHighlightFill  : '#fff',
              pointHighlightStroke: 'rgba(220,220,220,1)',
              data                : student_attendance_present_list
            },
          ]
        }

        var barChartCanvas2 = $('#barChart2').get(0).getContext('2d')
        var barChartData2 = jQuery.extend(true, {}, areaChartData2)
        var temp02 = areaChartData2.datasets[0]
        var temp12 = areaChartData2.datasets[1]
        barChartData2.datasets[0] = temp12
        barChartData2.datasets[1] = temp02

        var barChartOptions2 = {
          responsive              : true,
          maintainAspectRatio     : false,
          datasetFill             : false
        }

        var barChart2 = new Chart(barChartCanvas2, {
          type: 'bar', 
          data: barChartData2,
          options: barChartOptions2
        })

        // Total Students in Each Course
        var course_name_list = {{ course_name_list|safe }}
        var student_count_list_in_course = {{ student_count_list_in_course }}
        var pieData2 = {
          labels: course_name_list,
          datasets: [
            {
              data: student_count_list_in_course,
              backgroundColor : ['#FF6F22', '#BF19D5', '#1255F3', '#65BD00', '#04048F', '#1EDEC2', '#EF2020', '#FF0D72'],
            }
          ]
        }

        var pieChartCanvas2 = $('#pieChart2').get(0).getContext('2d')
        var pieData2 = pieData2;
        var pieOptions2 = {
          maintainAspectRatio : false,
          responsive : true,
        }

        var pieChart2 = new Chart(pieChartCanvas2, {
          type: 'pie',
          data: pieData2,
          options: pieOptions2      
        })

        // Comparison of Teachers' Lesson Hours
        var teacher_names = {{ teacher_names|safe }};
        var lesson_hours = {{ lesson_hours|safe }};

        var lessonHoursChartData = {
          labels  : teacher_names,
          datasets: [
            {
              label               : 'Lesson Hours',
              backgroundColor     : '#3c8dbc',
              borderColor         : '#3c8dbc',
              pointRadius         : false,
              pointColor          : '#3c8dbc',
              pointStrokeColor    : '#3c8dbc',
              pointHighlightFill  : '#fff',
              pointHighlightStroke: '#3c8dbc',
              data                : lesson_hours
            }
          ]
        };

        var lessonHoursChartCanvas = $('#lessonHoursChart').get(0).getContext('2d');
        var lessonHoursChartOptions = {
          responsive              : true,
          maintainAspectRatio     : false,
          datasetFill             : false
        };

        var lessonHoursChart = new Chart(lessonHoursChartCanvas, {
          type: 'bar',
          data: lessonHoursChartData,
          options: lessonHoursChartOptions
        });

        // Percentage of Course Participants
        var course_participants_percentage = {{ course_participants_percentage|safe }};
        var pieChartCanvasCourseParticipants = $('#courseParticipantsChart').get(0).getContext('2d');
        var pieDataCourseParticipants = {
          labels: course_name_list,
          datasets: [
            {
              data: course_participants_percentage,
              backgroundColor : ['#FF6F22', '#BF19D5', '#1255F3', '#65BD00', '#04048F', '#1EDEC2', '#EF2020', '#FF0D72'],
            }
          ]
        };
        var pieOptionsCourseParticipants = {
          maintainAspectRatio: false,
          responsive: true,
        };

        var pieChartCourseParticipants = new Chart(pieChartCanvasCourseParticipants, {
          type: 'pie',
          data: pieDataCourseParticipants,
          options: pieOptionsCourseParticipants
        });

        // Monthly Contributions Chart
        var all_months = {{ all_months|safe }};
        var all_incomes = {{ all_incomes|safe }};
        
        var monthlyContributionsData = {
            labels  : all_months,
            datasets: [
                {
                    label               : '{% trans "Total Income" %}',
                    backgroundColor     : '#FF2222',
                    borderColor         : '#B54E17',
                    pointRadius         : false,
                    pointColor          : '#3b8bba',
                    pointStrokeColor    : 'rgba(60,141,188,1)',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data                : all_incomes.map(function(income) {
                        return new Decimal(income).toNumber();
                    })
                }
            ]
        };

        var monthlyContributionsChartCanvas = $('#monthlyContributionsChart').get(0).getContext('2d');
        var monthlyContributionsChartOptions = {
            responsive              : true,
            maintainAspectRatio     : false,
            scales: {
                xAxes: [{
                    stacked: true,
                }],
                yAxes: [{
                    stacked: true,
                    ticks: {
                        beginAtZero: true,
                        callback: function(value) {
                            return '¥ ' + value; // Add the currency symbol
                        }
                    }
                }]
            }
        };

        var monthlyContributionsChart = new Chart(monthlyContributionsChartCanvas, {
            type: 'bar',
            data: monthlyContributionsData,
            options: monthlyContributionsChartOptions
        });
      })
      
  </script>
{% endblock custom_js %}
