{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}<i class="nav-icon fas fa-pencil-ruler"></i>  {{ page_title }}{% endblock page_title %}

{% block content %}
<style>
    .responsive-buttons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .btn-responsive {
        flex: 1 1 auto;
        margin: 5px;
        min-width: 68px;
        text-align: center;
    }

    @media (max-width: 576px) {
        .btn-responsive {
            flex-basis: 100%;
        }
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="d-flex align-items-center">
                            <i class="nav-icon fas fa-pencil-alt" style="font-size: 24px; margin-right: 10px;"></i>
                            <h3 class="card-title">{% trans "Student's Learning Record" %}</h3>
                        </div>                        
                        <div class="ml-auto">
                            <form method="get" action="{% url 'manage_learning_record' %}" class="form-inline">
                                <select name="grade" id="gradeFilter" class="form-control">
                                    <option value="" {% if not request.GET.grade %}selected{% endif %}>{% trans "Select Grade" %}</option>
                                    {% for grade in grades %}
                                    <option value="{{ grade.0 }}" {% if request.GET.grade == grade.0 %}selected{% endif %}>{{ grade.1 }}</option>
                                    {% endfor %}
                                </select>
                                <select name="teacher_name" class="form-control">
                                    <option value="" {% if not request.GET.teacher_name %}selected{% endif %}>{% trans "Select Teacher" %}</option>
                                    {% for teacher in teachers %}
                                    <option value="{{ teacher.admin.id }}" {% if request.GET.teacher_name == teacher.admin.id|stringformat:"s" %}selected{% endif %}>
                                        {{ teacher.admin.full_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-success ml-2">{% trans "Filter" %}</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>{% trans "Index No." %}</th>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Name" %}</th> 
                                    <th>{% trans "Course" %}</th>
                                    <th>{% trans "Teacher" %}</th>
                                    <th>{% trans "Start Time" %}</th>
                                    <th>{% trans "End Time" %}</th>
                                    <th>{% trans "Lesson Hours" %}</th>
                                    <th>{% trans "Remark" %}</th>
                                    <th>{% trans "Actions" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for learn in learningrecords %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ learn.date }}</td>
                                    <td>{{ learn.student }}</td>
                                    <td>{{ learn.course }}</td>
                                    <td>{{ learn.teacher }}</td>
                                    <td>{{ learn.start_time }}</td>
                                    <td>{{ learn.end_time }}</td>
                                    <td>{{ learn.lesson_hours }}</td>
                                    <td>{{ learn.student.admin.remark }}</td>
                                    <td class="responsive-buttons"> 
                                        <a href="{% url 'edit_learning_record' learn.id %}" class="btn btn-info btn-responsive">{% trans "Edit" %}</a>
                                        <a href="{% url 'delete_learning_record' learn.id %}" class="btn btn-danger btn-responsive" onclick="return confirm('{% trans 'Are you sure about this ?' %}')">{% trans "Delete" %}</a>
                                    </td> 
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
