{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
    <i class="nav-icon fas fa-yen-sign"></i> {{ page_title }}
{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="d-flex align-items-center">
                            <img src="/media/dollar.png" alt="Teacher Image" class="rounded-circle mr-3" style="width: 50px; height: 50px;">
                            <h3 class="card-title">{{ page_title }}</h3>
                        </div>
                        <h3 class="card-title">{% blocktrans with total=total_amount_paid %}Total Income: ¥{{ total }}{% endblocktrans %}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>{% trans 'Index No.' %}</th>
                                    <th>{% trans 'Date' %}</th>
                                    <th>{% trans 'Student' %}</th>
                                    <th>{% trans 'Course' %}</th>
                                    <th>{% trans 'Lesson Unit Price' %}</th>
                                    <th>{% trans 'Discounted Price' %}</th>
                                    <th>{% trans 'Book Costs' %}</th>
                                    <th>{% trans 'Other' %}</th>
                                    <th>{% trans 'Amount Due' %}</th>
                                    <th>{% trans 'Amount Paid' %}</th>
                                    <th>{% trans 'Payment Method' %}</th>
                                    <th>{% trans 'Status' %}</th>
                                    <th>{% trans 'Payee' %}</th>
                                    <th>{% trans 'Remark' %}</th>
                                    <th>{% trans 'Lesson Hours' %}</th> <!-- Added -->
                                    <th>{% trans 'Actions' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in payments %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ payment.date }}</td>
                                    <td>{{ payment.student }}</td>
                                    <td>{{ payment.course }}</td>
                                    <td>¥{{ payment.lesson_unit_price }}</td>
                                    <td>¥{{ payment.discounted_price }}</td>
                                    <td>¥{{ payment.book_costs }}</td>
                                    <td>¥{{ payment.other_fee }}</td>
                                    <td>¥{{ payment.amount_due }}</td>
                                    <td>¥{{ payment.amount_paid }}</td>
                                    <td>{{  payment.payment_method }}</td>
                                    <td>{{  payment.status }}</td>
                                    <td>{{  payment.payee }}</td>
                                    <td>{{  payment.remark }}</td>
                                    Hey there: {{payment.learning.course}}
                                    <td>{{  payment.learning_record.lesson_hours }}</td> <!-- Updated -->
                                    <td> 
                                        <a href="{% url 'edit_payment_record' payment.id %}" class="btn btn-info">{% trans "Edit" %}</a> | 
                                        <a href="{% url 'delete_payment_record' payment.id %}" class="btn btn-danger" onclick="return confirm('{% trans 'Are you sure about this ?' %}')">{% trans "Delete" %}</a>
                                    </td> 
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
