{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
    <i class="nav-icon fas fa-yen-sign"></i> {{ page_title }}
{% endblock page_title %}

{% block content %}
<style>
    .responsive-buttons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .btn-responsive {
        flex: 1 1 auto;
        margin: 5px;
        min-width: 68px;
        text-align: center;
    }

    @media (max-width: 576px) {
        .btn-responsive {
            flex-basis: 100%;
        }
    }

    .table-container {
        overflow-x: auto;
    }

    th, td {
        white-space: nowrap;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .pagination a, .pagination span {
        margin: 0 5px;
        padding: 8px 16px;
        text-decoration: none;
        color: #5FC032;
        border: 1px solid #DEE2E600;
        border-radius: 4px;
    }
    .pagination a:hover {
        background-color: #e9ecef;
    }
    .pagination .current {
        background-color: #5FC032;
        color: white;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="d-flex align-items-center">
                            <i class="nav-icon fas fa-yen-sign" style="font-size: 24px; margin-right: 10px;"></i>
                            <h3 class="card-title">{{ page_title }}</h3>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-container">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>{% trans 'Index No.' %}</th>
                                    <th>{% trans 'Date' %}</th>
                                    <th>{% trans 'Student' %}</th>
                                    <th>{% trans 'Course' %}</th>
                                    <th>{% trans 'Lesson Unit Price' %}</th>
                                    <th>{% trans 'Total Lesson Hours' %}</th>
                                    <th>{% trans 'Discounted Price' %}</th>
                                    <th>{% trans 'Book Costs' %}</th>
                                    <th>{% trans 'Other Fee' %}</th>
                                    <th>{% trans 'Amount Due' %}</th>
                                    <th>{% trans 'Amount Paid' %}</th>
                                    <th>{% trans 'Payment Method' %}</th>
                                    <th>{% trans 'Payee' %}</th>
                                    <th>{% trans 'Remark' %}</th>
                                    <th>{% trans 'Actions' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in payments %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ payment.date }}</td>
                                    <td>{{ payment.student }}</td>
                                    <td>{{ payment.course }}</td>
                                    <td>¥{{ payment.lesson_unit_price }}</td>
                                    <td>{{ payment.lesson_hours }}</td>
                                    <td>¥{{ payment.discounted_price }}</td>
                                    <td>¥{{ payment.book_costs }}</td>
                                    <td>¥{{ payment.other_fee }}</td>
                                    <td>¥{{ payment.amount_due }}</td>
                                    <td>¥{{ payment.amount_paid }}</td>
                                    <td>{{ payment.payment_method }}</td>
                                    <td>{{ payment.payee }}</td>
                                    <td>{{ payment.remark }}</td>
                                    <td class="responsive-buttons">
                                        <a href="{% url 'edit_payment_record' payment.id %}" class="btn btn-info btn-responsive">{% trans "Edit" %}</a>
                                        <a href="{% url 'delete_payment_record' payment.id %}" class="btn btn-danger btn-responsive" onclick="return confirm('{% trans 'Are you sure about this ?' %}')">{% trans "Delete" %}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination">
                            <span class="step-links">
                                {% if payments.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ payments.previous_page_number }}">previous</a>
                                {% endif %}
                                
                                <span class="current">
                                    Page {{ payments.number }} of {{ payments.paginator.num_pages }}.
                                </span>
                                
                                {% if payments.has_next %}
                                    <a href="?page={{ payments.next_page_number }}">next</a>
                                    <a href="?page={{ payments.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
