{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}{% trans page_title %}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{% trans page_title %}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>{% trans 'Course Title' %}</th>
                                    <th>{% trans 'Lesson Unit Price' %}</th>
                                    <th>{% trans 'Teacher' %}</th>
                                    <th>{% trans 'Subject' %}</th>
                                    <th>{% trans 'Class Time' %}</th>
                                    <th>{% trans 'Remark' %}</th>
                                    <th>{% trans 'Actions' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for class_schedule in class_schedules %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ class_schedule.course }}</td>
                                    <td>¥{{ class_schedule.lesson_unit_price }}</td>
                                    <td>{{ class_schedule.teacher }}</td>
                                    <td>{{ class_schedule.subject }}</td>
                                    <td>{{ class_schedule.class_time }}</td>
                                    <td>{{ class_schedule.remark }}</td>
                                    <td>
                                        <a href="{% url 'edit_class_schedule' class_schedule.id %}" class="btn btn-info">{% trans 'Edit' %}</a> - 
                                        <a href="{% url 'delete_class_schedule' class_schedule.id %}" class="btn btn-danger" onclick="return confirm('{% trans 'Are you sure about this?' %}')">{% trans 'Delete' %}</a>
                                    </td> 
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
