{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
<i class="nav-icon fas fa-book"></i>  {% trans page_title %}
{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div id="success-message" class="alert alert-success" style="display: none;"></div>
        {% if messages %}
        <div id="message-box">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} message-alert" id="message-{{ forloop.counter }}">{{ message }}</div>
            {% endfor %}
        </div>
        <script>
            setTimeout(function() {
                var alerts = document.getElementsByClassName('message-alert');
                for (var i = 0; i < alerts.length; i++) {
                    alerts[i].style.display = 'none';
                }
            }, 3000);
        </script>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="d-flex align-items-center">
                            <i class="nav-icon fas fa-university" style="font-size: 24px; margin-right: 10px;"></i>
                            <h3 class="card-title">{% trans page_title %}</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>{% trans "Campus" %}</th>
                                    <th>{% trans "Principal" %}</th>
                                    <th>{% trans "Principal Contact Number" %}</th>
                                    <th>{% trans "Actions" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for campus in campuses %}
                                <tr id="campus-{{ campus.id }}">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ campus.name }}</td>
                                    <td>{{ campus.principal }}</td>
                                    <td>{{ campus.principal_contact_number }}</td>
                                    <td>
                                        <a href="{% url 'edit_campus' campus.id %}" class="btn btn-info">{% trans 'Edit' %}</a> -
                                        <a href="#" onclick="deleteCampus('{{ campus.id }}')" class="btn btn-danger">{% trans 'Delete' %}</a> 
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function deleteCampus(campusID) {
        if (confirm('{% trans "Are you sure you want to delete this campus?" %}')) {
            $.ajax({
                type: 'POST',
                url: '{% url "delete_campus" 0 %}'.replace('0', campusID),
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    if (data.success) {
                        $('#campus-' + campusID).remove();
                        $('#success-message').text('{% trans "Campus Deleted Successfully!" %}');
                        $('#success-message').addClass('alert-success').show();
                        window.scrollTo(0, 0);
                        setTimeout(function() {
                            $('#success-message').hide().removeClass('alert-success');
                        }, 3000);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    $('#success-message').text('{% trans "An error occurred while deleting the campus." %}');
                    $('#success-message').addClass('alert-danger').show();
                    window.scrollTo(0, 0);
                    setTimeout(function() {
                        $('#success-message').hide().removeClass('alert-danger');
                    }, 3000);
                }
            });
        }
    }
</script>
{% endblock content %}
