{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
<i class="nav-icon fas fa-users"></i>  {% trans page_title %}
{% endblock page_title %}

{% block content %}
<style>
    .responsive-buttons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .btn-responsive {
        flex: 1 1 auto;
        margin: 2px;
        min-width: 68px;
        text-align: center;
    }
    @media (max-width: 576px) {
        .btn-responsive {
            flex-basis: 100%;
        }
    }
    .pagination {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .pagination a, .pagination span {
        margin: 0 5px;
        padding: 8px 16px;
        text-decoration: none;
        color: #5FC032;
        border: 1px solid #DEE2E600;
        border-radius: 4px;
    }
    .pagination a:hover {
        background-color: #e9ecef;
    }
    .pagination .current {
        background-color: #5FC032;
        color: white;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="d-flex align-items-center">
                            <i class="nav-icon fas fa-user" style="font-size: 24px; margin-right: 10px;"></i>
                            <h3 class="card-title">{% trans page_title %}</h3>
                        </div>
                        <h3 class="card-title">{% blocktrans %}Total Teachers: {{ total_teacher_count }} 人 {% endblocktrans %}</h3>
                    </div>
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Index No.</th>
                                    <th>{% trans "Full Name" %}</th>
                                    <th>{% trans "Gender" %}</th>
                                    <th>{% trans "Email" %}</th>
                                    <th>{% trans "Address" %}</th>
                                    <th>{% trans "Phone Number" %}</th>
                                    <th>{% trans "Teaching Courses" %}</th>
                                    <th>{% trans "Contract" %}</th>
                                    <th>{% trans "Remark" %}</th>
                                    <th>{% trans "Actions" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for teacher in allteacher %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ teacher.full_name }}</td>
                                    <td>{{ teacher.gender }}</td>
                                    <td>{{ teacher.email }}</td>
                                    <td>{{ teacher.address }}</td>
                                    <td>{{ teacher.phone_number }}</td>
                                    <td>{% for course in teacher.teacher.courses.all %}{{ course.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                                    <td>{{ teacher.teacher.work_type }}</td>
                                    <td>{{ teacher.remark }}</td>
                                    <td class="responsive-buttons">
                                        <a href="{% url 'edit_teacher' teacher.teacher.id %}" class="btn btn-info btn-responsive">{% trans "Edit" %}</a>
                                        <a href="{% url 'delete_teacher' teacher.teacher.id %}" class="btn btn-danger btn-responsive" onclick="return confirm('{% trans 'Are you sure about this ?' %}')">{% trans "Delete" %}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination">
                            <span class="step-links">
                                {% if allteacher.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ allteacher.previous_page_number }}">previous</a>
                                {% endif %}
                                
                                <span class="current">
                                    Page {{ allteacher.number }} of {{ allteacher.paginator.num_pages }}.
                                </span>
                                
                                {% if allteacher.has_next %}
                                    <a href="?page={{ allteacher.next_page_number }}">next</a>
                                    <a href="?page={{ allteacher.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
