{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}<i class="nav-icon fas fa-university"></i>  {{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Institution</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for institution in institutions %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{institution.name}}</td>
                                    <td>
                                        <a href="{% url 'edit_institution' institution.id %}" class="btn btn-info">{% trans 'Edit' %}</a> -
                                        <a href="{% url 'delete_institution' institution.id %}" onclick="return confirm('{% trans 'Are you sure you want to delete this campus ?' %}')" class="btn btn-danger">{% trans 'Delete' %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
