{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row"> <!-- Empty column to push the dropdown to the right -->
                            
                        </div>
                        
                        <table id="example2" class="table table-bordered table-hover">
                            <div class="col-md-6">
                                <p>Basic Information</p>
                                <form method="GET" action="">
                                    {% csrf_token %}
                                    {{ student_select_form.as_p }}
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <thead class="thead-dark">
                                <tr>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Contact Information</th>
                                    <th>State</th>
                                    <th>Payment Status</th>
                                    <th>Refund</th>
                                    <th>Registration Date</th>
                                    <th>Number of Classes</th>
                                    <th>Registered Courses</th>
                                    <th>Completed Hours</th>
                                    <th>Paid Class Hours</th>
                                    <th>Remaining Class Hours</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in payment_records %}
                                <tr>
                                    <td>{{selected_student.admin.gender}}</td>
                                    <td>{{selected_student.date_of_birth}}</td>
                                    <td>{{selected_student.admin.contact_num}}</td>
                                    <td>{{selected_student.state}}</td>
                                    <td>¥{{record.amount_paid}}</td>   
                                    <td>{{selected_student.refunded}}</td>
                                    <td>{{selected_student.reg_date}}</td>
                                    <td>{{selected_student.num_of_classes}}</td>
                                    <td>{{selected_student.registered_courses}}</td>
                                    <td>{{selected_student.completed_hours}}</td>
                                    <td>{{selected_student.paid_class_hours}}</td>
                                    <!-- Add remaining columns as needed -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <p>Learning Schedule</p>
                            <thead class="thead-dark">
                                <tr>
                                    <th>Date</th>
                                    <th>Course</th>
                                    <th>Instructor</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Class</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in learning_records %}
                                <tr>
                                    <td>{{record.date}}</td>
                                    <td>{{record.course}}</td>
                                    <td>{{record.teacher}}</td>
                                    <td>{{record.starting_time}}</td>
                                    <td>{{record.end_time}}</td>
                                    <td>{{record.class_name}}</td>
                                    <!-- Add remaining columns as needed -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
