{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}<i class="nav-icon fas fa-users"></i>  {{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <h3 class="card-title">{{page_title}}</h3>
                        <h3  class="card-title">Total Teachers: {{ total_teacher_count }}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                        
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th>Contact #</th>
                                    <th>Courses</th>
                                    <th>Work Type</th>
                                    <th>Avatar</th>
                                    <th>Remark</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for teacher in allteacher %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{teacher.last_name}}, {{teacher.first_name}}</td>
                                    <td>{{teacher.email}}</td>
                                    <td>{{teacher.gender}}</td>
                                    <td>{{teacher.address}}</td>
                                    <td>{{teacher.contact_num}}</td>
                                    <td>{{teacher.teacher.course.name}}</td>
                                    <td>{{teacher.teacher.work_type}}</td>
                                    <td>
                                        {% if teacher.profile_pic == ""  %}
                                        No Image
                                        {% else %}
                                        <img class="img img-fluid mb-2" height="56" width="56"
                                            src="{{teacher.profile_pic}}" alt="">
                                        {% endif %}
                                    </td>
                                    <td>{{teacher.remark}}</td>
                                    <td>
                                        <a href="{% url 'edit_teacher' teacher.teacher.id %}" class="btn btn-info">Edit</a> - 
                                        <a href="{% url 'delete_teacher' teacher.teacher.id %}" class="btn btn-danger" onclick="return confirm('Are you sure about this ?')">Delete</a>
                                    
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}