{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
<i class="nav-icon fas fa-pencil-ruler"></i>  {{ page_title }}
{% endblock page_title %}

{% block content %}
<style>
    .responsive-buttons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .btn-responsive {
        flex: 1 1 auto;
        margin: 5px;
        min-width: 68px;
        text-align: center;
    }

    @media (max-width: 576px) {
        .btn-responsive {
            flex-basis: 100%;
        }
    }

    .table-container {
        overflow-x: auto;
    }

    th, td {
        white-space: nowrap;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .pagination a, .pagination span {
        margin: 0 5px;
        padding: 8px 16px;
        text-decoration: none;
        color: #5FC032;
        border: 1px solid #DEE2E600;
        border-radius: 4px;
    }
    .pagination a:hover {
        background-color: #e9ecef;
    }
    .pagination .current {
        background-color: #5FC032;
        color: white;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div id="success-message" class="alert alert-success" style="display: none;"></div>
        {% if messages %}
        <div id="message-box">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} message-alert" id="message-{{ forloop.counter }}">{{ message }}</div>
            {% endfor %}
        </div>
        <script>
            setTimeout(function() {
                var alerts = document.getElementsByClassName('message-alert');
                for (var i = 0; i < alerts.length; i++) {
                    alerts[i].style.display = 'none';
                }
            }, 3000);
        </script>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="d-flex align-items-center">
                            <i class="nav-icon fas fa-pencil-alt" style="font-size: 24px; margin-right: 10px;"></i>
                            <h3 class="card-title" style="margin-right: 50px;">{% trans "Student's Learning Record" %}</h3>
                        </div>
                        <div class="d-flex align-items-center" style="margin-left: auto;">
                            <h3 class="card-title" style="margin-right: 50px;">{% blocktrans %}Total Class Hours: {{ total_lesson_hours }}{% endblocktrans %}</h3>
                        </div>
                        <div class="ml-auto">
                            <form method="get" action="{% url 'manage_learning_record' %}" class="form-inline">
                                <select name="grade" id="gradeFilter" class="form-control">
                                    <option value="" {% if not request.GET.grade %}selected{% endif %}>{% trans "Select Grade" %}</option>
                                    {% for grade in grades %}
                                    <option value="{{ grade.0 }}" {% if request.GET.grade == grade.0 %}selected{% endif %}>{{ grade.1 }}</option>
                                    {% endfor %}
                                </select>
                                <select name="teacher_name" class="form-control">
                                    <option value="" {% if not request.GET.teacher_name %}selected{% endif %}>{% trans "Select Teacher" %}</option>
                                    {% for teacher in teachers %}
                                    <option value="{{ teacher.admin.id }}" {% if request.GET.teacher_name == teacher.admin.id %}selected{% endif %}>
                                        {{ teacher.admin.full_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-success ml-2">{% trans "Filter" %}</button>
                            </form>
                        </div>
                    </div>                    
                    <!-- /.card-header -->
                    <div class="card-body table-container">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>{% trans "Index No." %}</th>
                                    <th>{% trans "Day" %}</th>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Name" %}</th> 
                                    <th>{% trans "Course" %}</th>
                                    <th>{% trans "Teacher" %}</th>
                                    <th>{% trans "Start Time" %}</th>
                                    <th>{% trans "End Time" %}</th>
                                    <th>{% trans "Class Hours" %}</th>
                                    <th>{% trans "Remark" %}</th>
                                    <th>{% trans "Actions" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for learn in learningrecords %}
                                <tr id="learning-record{{ learn.id }}">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ learn.day }}</td>
                                    <td>{{ learn.date }}</td>
                                    <td>{{ learn.student }}</td>
                                    <td>{{ learn.course }}</td>
                                    <td>{{ learn.teacher }}</td>
                                    <td>{{ learn.start_time }}</td>
                                    <td>{{ learn.end_time }}</td>
                                    <td>{{ learn.lesson_hours }}</td>
                                    <td>{{ learn.student.admin.remark }}</td>
                                    <td class="responsive-buttons"> 
                                        <a href="{% url 'edit_learning_record' learn.id %}" class="btn btn-info btn-responsive">{% trans "Edit" %}</a>
                                        <a href="#" class="btn btn-danger btn-responsive" onclick="deleteLearningRecord('{{ learn.id }}')">{% trans "Delete" %}</a>
                                    </td> 
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination">
                            <span class="step-links">
                                {% if learningrecords.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ learningrecords.previous_page_number }}">previous</a>
                                {% endif %}
                                
                                <span class="current">
                                    Page {{ learningrecords.number }} of {{ learningrecords.paginator.num_pages }}.
                                </span>
                                
                                {% if learningrecords.has_next %}
                                    <a href="?page={{ learningrecords.next_page_number }}">next</a>
                                    <a href="?page={{ learningrecords.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function deleteLearningRecord(learnID) {
        if (confirm('{% trans "Are you sure you want to delete this learning record?" %}')) {
            $.ajax({
                type: 'POST',
                url: '{% url "delete_learning_record" 0 %}'.replace('0', learnID),
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    if (data.success) {
                        $('#learning-record' + learnID).remove();
                        $('#success-message').text('{% trans "Record Deleted Successfully!" %}');
                        $('#success-message').addClass('alert-success').show();
                        window.scrollTo(0, 0);
                        setTimeout(function() {
                            $('#success-message').hide().removeClass('alert-success');
                        }, 3000);
                    } 
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    $('#success-message').text('{% trans "An error occurred while deleting the record." %}');
                    $('#success-message').addClass('alert-danger').show();
                    window.scrollTo(0, 0);
                    setTimeout(function() {
                        $('#success-message').hide().removeClass('alert-danger');
                    }, 3000);
                }
            });
        }
    }
</script>
{% endblock content %}
