{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
    <i class="nav-icon fas fa-bookmark"></i> {{ page_title }}
{% endblock page_title %}

{% block content %}
<style>
    .responsive-buttons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .btn-responsive {
        flex: 1 1 auto;
        margin: 5px;
        min-width: 68px;
        text-align: center;
    }

    @media (max-width: 576px) {
        .btn-responsive {
            flex-basis: 100%;
        }
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="d-flex align-items-center">
                            <i class="nav-icon fas fa-money-check-alt" style="font-size: 24px; margin-right: 10px;"></i>
                            <h3 class="card-title">{% trans page_title %}</h3>
                        </div>                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>{% trans "Date of Birth" %}</th>
                                    <th>{% trans "Student Name" %}</th>
                                    <th>{% trans "Course" %}</th>
                                    <th>{% trans "Total Lesson Hours" %}</th>
                                    <th>{% trans "Hours Spent" %}</th>
                                    <th>{% trans "Hours Remaining" %}</th>
                                    <th>{% trans "Unit Price" %}</th>
                                    <th>{% trans "Amount to be Refunded" %}</th>
                                    <th>{% trans "Amount Refunded" %}</th>
                                    <th>{% trans "Reason for Refund" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for refund in refund_info %}
                                <tr>
                                    <td>{{ refund.date_of_birth|date:"Y-m-d" }}</td>
                                    <td>{{ refund.student_name }}</td>
                                    <td>{{ refund.course }}</td>
                                    <td>{{ refund.total_hours }}</td>
                                    <td>{{ refund.hours_spent }}</td>
                                    <td>{{ refund.hours_remaining }}</td>
                                    <td>{{ refund.lesson_price }}</td>
                                    <td>{{ refund.refund_amount }}</td>
                                    <td>{{ refund.amount_refunded }}</td>
                                    <td>{{ refund.refund_reason }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">{% trans "No refund records found." %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
