{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {{ page_title }}
{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ page_title }}</h3>
                    </div>
                    <div class="card-body">
                        <form id="sendReminderForm" method="post">
                            <div class="form-group">
                                <label for="student_id">{% trans 'Select Student' %}</label>
                                <select class="form-control" id="student_id" name="student_id">
                                    <option value="">{% trans 'Select a student' %}</option>
                                    {% for student in students %}
                                    <option value="{{ student.id }}">{{ student.admin.full_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="course_id">{% trans 'Select Course' %}</label>
                                <select class="form-control" id="course_id" name="course_id">
                                    <option value="">{% trans 'Select a course' %}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="teacher_id">{% trans 'Select Teacher' %}</label>
                                <select class="form-control" id="teacher_id" name="teacher_id">
                                    <option value="">{% trans 'Select a teacher' %}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="due_date">{% trans 'Due Date' %}</label>
                                <input type="date" class="form-control" id="due_date" name="due_date">
                            </div>
                            <div class="form-group">
                                <label for="amount_due">{% trans 'Amount Due' %}</label>
                                <input type="number" class="form-control" id="amount_due" name="amount_due" disabled>
                            </div>                            
                            <button type="button" class="btn btn-success" id="sendReminderButton">{% trans 'Send Reminder' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        console.log("Document is ready.");

        $("#student_id").change(function() {
            var studentId = $(this).val();
            console.log("Selected student ID:", studentId);
            if (studentId) {
                $.ajax({
                    url: "{% url 'get_student_courses_teachers' %}",
                    type: 'GET',
                    data: {
                        'student_id': studentId
                    },
                    success: function(data) {
                        var courseSelect = $("#course_id");
                        var teacherSelect = $("#teacher_id");
                        courseSelect.empty();
                        teacherSelect.empty();
                        console.log("Courses and teachers data received:", data);

                        if (data.courses) {
                            $.each(data.courses, function(index, course) {
                                courseSelect.append(
                                    $("<option></option>").val(course.id).text(course.name)
                                );
                            });
                        } else {
                            courseSelect.append(
                                $("<option></option>").val("").text("{% trans 'No courses found' %}")
                            );
                        }

                        if (data.teachers) {
                            $.each(data.teachers, function(index, teacher) {
                                teacherSelect.append(
                                    $("<option></option>").val(teacher.teacher_id).text(teacher.teacher_name).data('course-id', teacher.course_id)
                                );
                            });
                        } else {
                            teacherSelect.append(
                                $("<option></option>").val("").text("{% trans 'No teachers found' %}")
                            );
                        }

                        // Check for payment records
                        checkPaymentRecords(studentId);
                    },
                    error: function(xhr, status, error) {
                        console.error("Error fetching courses and teachers:", error);
                        alert("{% trans 'Error fetching courses and teachers' %}");
                    }
                });
            } else {
                $("#course_id").empty().append(
                    $("<option></option>").val("").text("{% trans 'Select a course' %}")
                );
                $("#teacher_id").empty().append(
                    $("<option></option>").val("").text("{% trans 'Select a teacher' %}")
                );
            }
        });

        $("#course_id").change(function() {
            var selectedCourseId = $(this).val();
            console.log("Selected course ID:", selectedCourseId);

            var teacherOptions = $("#teacher_id option");
            teacherOptions.each(function() {
                var optionCourseId = $(this).data('course-id');
                if (optionCourseId === selectedCourseId) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });

            if (!selectedCourseId) {
                teacherOptions.show();
            }
        });

        $("#sendReminderButton").click(function(){
            var formData = $("#sendReminderForm").serialize();
            console.log("Form data to be sent:", formData);
            $.ajax({
                url: "{% url 'send_tuition_reminder' %}",
                type: 'POST',
                data: formData,
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(response) {
                    console.log("Response from server:", response);
                    if (response == 'True'){
                        alert("{% trans 'Reminder Sent' %}");
                    } else {
                        console.error("Reminder could not be sent. Response:", response);
                        alert("{% trans 'Reminder could not be sent. Please try again.' %}");
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error("Error in sending reminder:", {
                        status: xhr.status,
                        statusText: xhr.statusText,
                        responseText: xhr.responseText,
                        textStatus: textStatus,
                        errorThrown: errorThrown
                    });
                    alert("{% trans 'Error in sending reminder' %}");
                }
            });
        });
        
        // Function to fetch amount due
        function checkPaymentRecords(studentId) {
            var courseId = $("#course_id").val();
            $.ajax({
                url: "{% url 'get_student_amount_due' %}",
                type: 'GET',
                data: {
                    'student_id': studentId,
                    'course_id': courseId
                },
                success: function(data) {
                    console.log("Amount due data received:", data);
                    if (data.amount_due !== null) {
                        $("#amount_due").val(data.amount_due);
                    } else {
                        $("#amount_due").val("").attr("placeholder", "{% trans 'Amount due not available' %}");
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching amount due:", error);
                    alert("{% trans 'Error fetching amount due' %}");
                }
            });
        }
    });
</script>


{% endblock content %}
